  .all-post-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3rem;
  }

  .post-item {
    flex-basis: 31%;
    margin: 1rem;
    padding: 1rem;
    border: solid red 2px;
    border-radius: 5px;
  }
